/* boton flotante */
.a-wsp{
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    height: 3.5rem;
    width: 3.5rem;
    bottom: 8px;
    right: 8px;
    color: inherit;
    background: #25d366;
    border-style: none;
    border-radius:100%;
    box-shadow: 1px 6px 24px 0 rgba(7,94,84,.24);
    cursor: pointer;
    transition: #25d366 .2s linear;
}
.img-wsp{
    height: 2rem;
    width: 2rem;
    margin:auto;
}



/* footer */
footer{
    display: flex;
    color: white;
    
    
}


.container-footer-1{
    
    background-color: #198754;
    text-align: center;
    width: 50%;
}

.servicios{
    text-align: center;
    background-color: #198754;
    width: 30%;
    
    

}



.container-footer-2  {
    justify-items: center;
    text-align: center;
    background-color:gray;
    width: 30%;
}

.footer-icons{
    margin: 5px;
}


.container-footer-3{
    display: flex;
    background-color: black;
    color:White;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.telefono{
    margin-top: 40px;
}