* {
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* colors */
:root {
    --color-1: 133, 193, 106;
    --color-2: 36, 181, 58;
    --color-3: 81, 204, 161;
    --color-4: 57, 182, 204;
    --color-5: 21, 115, 198;
    /* CircleMenu styles*/
    --li: 9;
    --icon-size: 250px;
    --menu-size: calc(300px / 2);
    --btn-size: 45px;
    --menu-position: calc((var(--menu-size) * 2) - var(--icon-size)) / -2;
    --offset: 100px;
    --deg: calc(360deg / var(--li));
}





















/* boton flotante */
.a-wsp {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    height: 3.5rem;
    width: 3.5rem;
    bottom: 10px;
    right: 10px;
    color: inherit;
    background: #25d366;
    border-style: none;
    border-radius: 100%;
    box-shadow: 1px 2px 8px 0 rgba(14, 255, 42, 0.6);
    cursor: pointer;
    transition: #25d366 .2s linear;
    filter: brightness(1);
}

.a-wsp:hover {
    filter: brightness(1.5);
}

.img-wsp {
    height: 2rem;
    width: 2rem;
    margin: auto;
}

/* NavBar */
nav {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    /* position: fixed !important; */
    width: 100%;
    color: white;
    backdrop-filter: blur(8px);
    background-color: rgba(var(--color-1), 0.2);
}

.navbar-brand>img {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    padding: 0.5rem;
}

.nav-item {
    padding: 0.2rem;
    margin: 0 0.2rem;
    position: relative;
}

.nav-link {
    position: relative;
    z-index: 100;
    font-weight: bold;
}

.nav-item::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 1rem;
    transform: scale(1, 0);
    transition: transform 1s;
    background-color: rgba(var(--color-2));
    z-index: 99;
}

.nav-item:hover::after {
    transform: scale(1, 1);
}
















































/* header */
header {
    display: flex;
    justify-content: center;
    /* margin-top: 5rem; */
    max-width: 95%;
}

.card-head {
    position: relative;
    height: 80vh;
    width: 25vw;
    margin-left: 1rem;
    transition: width 1s;
    object-fit: cover;
}

/* .img-head {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-head:hover {
    filter: blur(4px);
} */
#img1 {
    background-image: url(./img/photos/header-1.jpg);
}

#img2 {
    background-image: url(./img/photos/header-2.jpg);
}

#img3 {
    background-image: url(./img/photos/header-3.jpg);
}

#img1,
#img2,
#img3 {
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 100%;
}

.title-head {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgb(var(--color-4));
    justify-self: center;
    top: 50%;
    color: #fff;
    opacity: 100;
}

.oculto {
    height: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: 1s;
}

.card-head:hover .oculto {
    opacity: 100;
    transition: 1.5s;
    backdrop-filter: blur(4px);
    background-color: #00000089;
}

.card-head:hover .title-head {
    opacity: 0;
}

@media (max-width:770px) {
    .card-head {
        width: 95%;
    }
}



















































































/* BOTON A CONTACTO/FOOTER */
#botonDeContacto {
    background-color: rgb(var(--color-2));
    width: 100%;
}

/* redes contacto */

#redes .redes-phone {
    width: 150px;
    text-decoration: none;
    color: #000;
}

#redes ul li a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.5s, color 0.5s;
}

#redes ul li a:hover {
    transform: scale(1.6);
    margin-left: 5px;
    margin-right: 5px;
}




























/* QUIENES SOMOS styles */
.quienesSomosCard {
    height: 500px;
    padding: 1.5rem;
    background-color: rgb(var(--color-3));
}

.quienesSomosCard .front,
.back {
    backface-visibility: hidden;
    width: 320px;
    position: absolute;
    transition: transform 0.5s;
}

.back {
    transform: rotateY(180deg);
}

.quienesSomosCard:hover .front {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    display: inline-block;
}

.quienesSomosCard:hover .back {
    transform: rotateY(0deg);
}

#quienesSomos>h2 {
    color: rgb(var(--color-3));
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-style: double;
}

#quienesSomos p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}




















































































/* circle menu */
.CircleMenu {
    position: relative;
    background: #198754;
    cursor: pointer;
    margin: auto;
    color: #fff;
    border-radius: 50%;
    height: var(--icon-size);
    width: var(--icon-size);
    line-height: var(--icon-size);
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    transition: 0.24s 0.2s;
}

.ulCicleMenu {
    position: absolute;
    top: var(--menu-position);
    left: var(--menu-position);
    border: var(--menu-size) solid transparent;
    cursor: default;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1.4s 0.07s;
    z-index: -5;
    width: 100%;
    text-align: center;
    /* background-color: rgb(var(--color-4)); */
    justify-self: center;
    top: 50%;
    color: #fff;
    opacity: 100;
}

.spread {
    position: absolute;
    top: var(-(--offset));
    left: var(-(--offset));
    transform-origin: var(--offset) var(--offset);
    transition: all 0.5s 0.1s;
}

.CircleMenu {
    .ulCicleMenu {
        transition: transform 0.4s 0.08s, z-index 0s 0.5s;
        transform: scale(1);
        z-index: 5;
        
    }
}

.circleBtn {
    position: absolute;
    background: #000;
    font-size: 60%;
    text-decoration: none;
    width: var(--btn-size);
    width: var(--btn-size);
    line-height: var(--btn-size);
    color: aqua;
    border-radius: 50%;
    transition: 0.6s;
}





























































































































































/* CARROUSELL */
#clientes>h5 {
    color: rgb(var(--color-5), 0.8);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

.slider {
    background: white;
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 98%;
    max-width: 100%;
}

.slider::before,
.slider::after {
    background-color: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    position: absolute;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 25s linear infinite alternate-reverse;
    display: flex;
    margin: 0;
    padding: 0;
}

.slide {
    margin: 0;
    padding: 0;
    max-width: 300px;
}

.slide>img {
    object-fit: cover;
}

#manal {
    background: #000;
}
























































































/* footer */
.container-footer-1 {
    background-color: rgb(var(--color-3));
    width: 100%;
}

.contact-form {
    display: flex;
    margin-top: 25px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: bolder;
    width: 100%;
    color: white;
}

input,
textarea {
    border: 0;
    outline: 0;
    border-radius: 5px;
    display: block;
    width: 50%;
    margin-top: 2px;
    box-shadow: 0 1px 1px rgba(black, 0.1);
    background: transparent;
    border: 1px solid white;
    font-size: 17px;
    color: white;
}

.btn-footer {
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    padding: 10px 30px;
    margin-top: 5px;
    border: solid #ffffff 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;

}

.btn-footer:hover {
    transition: 1000ms;
    padding: 10px 60px;
    transform: translateY(-0px);
    background-color: transparent;
    color: #fff;
    border: solid 2px #fff;
}



.container-footer-2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    min-width: 20%;
    color: white;
}



.icons-container {
    padding: 20px;
    margin-top: 30px;
}

.footer-icons {
    margin: 5px;
}


.container-footer-3 {
    display: flex;
    background-color: black;
    color: White;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    padding-top: 15px;
    font-size: 13px;

}

.telefono {
    margin-top: 10px;
}































































































